.bnr_main_wrap{position:relative;}
    .bnr_main_wrap .bnr_main{overflow:hidden;}
    .bnr_main_wrap .page_function{position:relative;margin:7px auto;height:30px;text-align:center;}
    .bnr_main_wrap .swiper-pagination{
        position:relative;display:inline-block;bottom:0;left:auto;width:auto;padding:2px 15px;border-radius:15px;
        border:1px solid var(--wbl-color-light-gray-lighten1);color:var(--wbl-color-dark-gray-lignten2);
    }
    .bnr_main_wrap .swiper-pagination span.swiper-pagination-current{color:var(--wbl-color-black);font-weight:500;}
    .bnr_main_wrap .page_function .autoplay{
        position:relative;display:inline-block;bottom:-8px;padding:9px;border:1px solid var(--wbl-color-light-gray-lighten1);
        border-radius:15px;margin-left:5px;cursor:pointer;
    }
    .bnr_main_wrap .page_function .autoplay.hide{display:none;}
    .bnr_main_wrap .page_function .autoplay i{display:block;background-image:url(../images/btn_bnrMain_autoplay.png);width:10px;height:10px;}
    .bnr_main_wrap .page_function .autoplay.play i{background-position-y:-10px;}
    .bnr_main_wrap .page_function .autoplay.stop i{background-position-y:0;}
    .bnr_main_wrap .btn_slider{position:absolute;top:calc(50% - 30px);left:50%;height:45px;margin:0 auto;transform:translate(-50%, -50%);z-index:10;}
    .bnr_main_wrap .btn_slider div{background-image:url(../images/btn_bnrMain_slider.png);width:24px;height:45px;color:transparent;background-repeat: no-repeat}
    .bnr_main_wrap .btn_slider .swiper-button-prev{left:-64px;background-position-x:0;}
    .bnr_main_wrap .btn_slider .swiper-button-next{right:-64px;background-position-x:-24px;}
.quick_menu_wrap{margin:30px auto 65px;background: url(../images/quick_menu_bg.png);padding: 65px 0 36px;background-repeat: no-repeat;}
    .quick_menu_wrap .container{display:flex;justify-content:space-between;}
    .quick_menu_wrap .container > a{display:block;text-align:center;color:var( --wbl-color-white);}
    .quick_menu_wrap .container > a:nth-child(4) span {width: 122px;height: 122px;margin-top: -20px;padding: 0}
    .quick_menu_wrap .container > a:nth-child(4) span i {width: 100%;height: 100%;}
    .quick_menu_wrap .container > a span{display:block;width:100px;height:100px;border-radius:50%;margin-bottom:15px;box-sizing: border-box;}
    .quick_menu_wrap .container > a span i{display:block;width: 100%;height: 100%;}

.quick_menu_wrap .container > a:hover span {border: 3px solid #fff;  }
.quick_menu_wrap .container > a:nth-child(4):hover span {border: 0}
.quick_menu_wrap .container > a:nth-child(4):hover  {color: #ffe400;font-weight: 500}

    .quick_menu_wrap .container > a:nth-child(1) span i{background: url(../images/quick_menu_ico01.png) center no-repeat;}
    .quick_menu_wrap .container > a:nth-child(2) span i{background: url(../images/quick_menu_ico02.png) center no-repeat;}
    .quick_menu_wrap .container > a:nth-child(3) span i{background: url(../images/quick_menu_ico03.png) center no-repeat;}
    .quick_menu_wrap .container > a:nth-child(4) span i{background: url(../images/quick_menu_ico04.png) center no-repeat;}
    .quick_menu_wrap .container > a:nth-child(5) span i{background: url(../images/quick_menu_ico05.png) center no-repeat;}
    .quick_menu_wrap .container > a:nth-child(6) span i{background: url(../images/quick_menu_ico06.png) center no-repeat;}
    .quick_menu_wrap .container > a:nth-child(7) span i{background: url(../images/quick_menu_ico07.png) center no-repeat;}
    .quick_menu_wrap .container > a:nth-child(8) span i{background: url(../images/quick_menu_ico08.png) center no-repeat;}


.recomm_wrap{margin:65px auto;}
    .recomm_wrap select{
        border:1px solid var(--wbl-color-light-gray-lighten1);border-radius:5px;padding:16px;font-size:var(--wbl-font-sz-default);color:var(--wbl-color-dark-gray);
        background:url(../images/bg_select.png) no-repeat center right 16px;width:40%;float:left;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }
    .recomm_wrap select::-ms-expand {display: none;} 
    .recomm_wrap select + select{margin-left:10px;}
    .recomm_wrap button{
        float:right;width:calc(20% - 20px);border:none;border-radius:5px;background:var(--wbl-color-main);color:var(--wbl-color-white);
        font-size:var(--wbl-font-sz-default);padding:17px;
    }
    .recomm_wrap .condition{margin:20px 0 30px;}
    .recomm_wrap .condition li{float:left;font-size:var(--wbl-font-sz-ms1);color:var(--wbl-color-dark-gray);}
    .recomm_wrap .condition li span:after{content:"X";cursor:pointer;display:inline-block;margin-left:3px;font-weight:300;color:var(--wbl-color-orange);}
    .recomm_wrap .condition li + li{margin-left:20px;}
.condition_result_wrap{position:relative;}
    .condition_result{overflow:hidden;height:750px;}
    .condition_result .swiper-slide{border:1px solid var(--wbl-color-light-gray-lighten1);border-radius:10px;overflow:hidden;height:365px;}
    .condition_result .swiper-slide .thumb{width:100%;height:210px;}
    .condition_result .swiper-slide .like_btn{position:absolute;top:20px;right:20px;width:31px;height:31px;background-image:url(../images/btn_like.png);cursor:pointer;}
    .condition_result .swiper-slide .like_btn.on{background-position-x:-31px;}
    .condition_result .swiper-slide .category{
        display:inline-block;margin:30px 20px 15px;font-size:var(--wbl-font-sz-ms1);border:1px solid var(--wbl-color-main);border-radius:15px;
        color:var(--wbl-color-main);padding:1px 13px;
    }
    .condition_result .swiper-slide .title{font-size:var(--wbl-font-sz-ps1);margin:0 20px 30px;}
    .condition_result_wrap .btn_slider{position:absolute;top:50%;left:50%;height:45px;margin:0 auto;transform:translate(-50%, -50%);z-index:10;}
    .condition_result_wrap .btn_slider div{position:absolute;background-image:url(../images/btn_bnrMain_slider.png);width:24px;height:45px;color:transparent;background-repeat: no-repeat}
    .condition_result_wrap .btn_slider div.swiper-button-disabled{opacity:.25;}
    .condition_result_wrap .btn_slider .swiper-button-prev2{left:-64px;background-position-x:0;}
    .condition_result_wrap .btn_slider .swiper-button-next2{right:-64px;background-position-x:-24px;}
.news_wrap{background:var(--wbl-color-light-gray-lighten2);border:1px var(--wbl-color-light-gray-lighten1);border-style:solid none none;padding:70px 0;}
    .theme_wrap{position:relative;float:right;width:360px;}
    .theme_wrap .theme{border-radius:10px;overflow:hidden;line-height:0;}
    .theme_wrap .theme .swiper-pagination2{position:absolute;bottom:15px;text-align:center;z-index:10;}
    .theme_wrap .theme .swiper-pagination-bullet{background:transparent;opacity:1;border:1px solid var(--wbl-color-white);}
    .theme_wrap .theme .swiper-pagination-bullet.swiper-pagination-bullet-active{background:var(--wbl-color-white);}
    .new_wbl{position:relative;float:left;width:820px;}
    .new_wbl h2{float:left;}
    .new_wbl ul{float:right;margin-top:12px;}
    .new_wbl ul li{float:left;cursor:pointer;font-size:var(--wbl-font-sz-ms1);color:var(--wbl-color-dark-gray);font-weight:300;line-height:1;}
    .new_wbl ul li.on{color:var(--wbl-color-main);font-weight:400;}
    .new_wbl ul li + li:before{content:"|";margin-left:10px;padding-right:10px;color:var(--wbl-color-light-gray-lighten1);}
    .new_wbl .new_cont > div{float:left;width:calc(50% - 15px);height:120px;margin-bottom:20px;}
    .new_wbl .new_cont > div:nth-child(2n){margin-left:30px;}
    .new_wbl .new_cont .thumb{float:left;width:150px;height:120px;border:1px solid var(--wbl-color-light-gray-lighten1);border-radius:10px;line-height:0;overflow:hidden;}
    .new_wbl .new_cont .cont{float:left;margin-left:18px;width:calc(100% - 168px);}
    .new_wbl .new_cont .cont .category{
        display:inline-block;margin:10px 0;font-size:var(--wbl-font-sz-ms3);border:1px solid var(--wbl-color-sub-main);border-radius:15px;
        color:var(--wbl-color-sub-main);padding:1px 8px;
    }
    .new_wbl .new_cont .cont .title{font-size:var(--wbl-font-sz-ps1);}
    .notice_wrap{background:var(--wbl-color-white);border:1px solid var(--wbl-color-light-gray-lighten1);padding:30px 40px;margin-top:50px;border-radius:10px;}
    .notice_wrap .title{float:left;font-size:var(--wbl-font-sz-ps1);font-weight:500;margin:7px 45px 0 0;line-height:19px;}
    .notice_wrap .title i{display:inline-block;width:19px;height:19px;margin-right:10px;background-image:url(../images/bg_tit_notice.png);}
    .notice_wrap .btn_more{float:right;display:block;font-size:var(--wbl-font-sz-ms2);border:1px solid var(--wbl-color-light-gray-lighten1);padding:6px 13px;border-radius:16px;}
    .notice_wrap .article{float:left;display:block;width:calc(100% - 260px);margin-top:7px;font-size:var(--wbl-font-sz-default);line-height:19px;}
    .notice_wrap .article .noti{float:left;}
    .notice_wrap .article .date{float:right;color:var(--wbl-color-dark-gray-lignten1);}
.together_wrap{margin:70px auto 0;}
    .together_wrap li{float:left;margin-bottom:30px;width:calc(20% - 20px);text-align:center;}
    .together_wrap li a {word-break: keep-all}
    .together_wrap li + li{margin-left:25px;}
    .together_wrap li:nth-child(6){margin-left:0;}
    .together_wrap li .logo{border:1px solid var(--wbl-color-light-gray-lighten1);margin-bottom:10px;padding:7px 0;border-radius:10px;}


 
@media screen and (min-width:1261px) {
/* .condition_result_wrap {width: 90%;margin: auto;max-width: 1260px;margin: auto} */
.condition_result_wrap  .container{width: 100%;}
}

@media screen and (max-width:1260px) {
    /* .bnr_main_wrap {width: 90%;margin: auto}    */
    .bnr_main_wrap .btn_slider .swiper-button-prev {left: -40px}
    .bnr_main_wrap .btn_slider .swiper-button-next {right: -45px}
    
    /* .condition_result_wrap{max-width: inherit;width: 90%;margin: auto} */
    .condition_result_wrap .btn_slider .swiper-button-prev2{left: -40px}
    .condition_result_wrap .btn_slider .swiper-button-next2{right: -45px}
    
    .theme_wrap {display: none}
    .new_wbl {width: 100%}
    
    
    
}

@media screen and (max-width:1024px) {
    .quick_menu_wrap {height: auto;}
    .quick_menu_wrap .container {flex-wrap: wrap}
    .quick_menu_wrap a {width: 25%}
    .quick_menu_wrap .container > a span {margin: 15px auto}
    /* .bnr_main_wrap .btn_slider div {background-size: 25px;width: 12.5px;} */
    .bnr_main_wrap .btn_slider .swiper-button-prev {/*background-position: left center;*/left: 25px}
    .bnr_main_wrap .btn_slider .swiper-button-next {/*background-position: right center;*/right: 25px}
    .recomm_wrap button{width: calc(23% - 20px)}
    .recomm_wrap select {width: 38.5%}
    
    .condition_result .swiper-slide .category{margin: 20px 20px 10px}
    .condition_result .swiper-slide {height: 365px}
    /* .condition_result_wrap .btn_slider div {background-size: 25px;width: 12.5px;} */
    .condition_result_wrap .btn_slider .swiper-button-prev2{left:20px;/*background-position: left center;*/}
    .condition_result_wrap .btn_slider .swiper-button-next2{right:20px;/*background-position: right center;*/}
    
    .notice_wrap {padding: 30px 20px}
    .notice_wrap .title {margin: 7px 25px 0 0;}
    .notice_wrap .article .noti {white-space: nowrap;text-overflow: ellipsis;width:calc(100% - 100px);overflow: hidden}
    
.together_wrap .together_inner {width: 100%;overflow-x: auto}
    

    .together_wrap ul li {width: calc(25% - 15px);margin-right: 20px}
    .together_wrap ul li:nth-child(4n) {margin-right:0}
    .together_wrap ul li + li {margin-left: 0}
   
    
}

@media screen and (max-width:768px) {
    
    .bnr_main_wrap img {width: 100%}
    .bnr_main_wrap .page_function {margin: auto}
    
    .recomm_wrap select {font-size: var(--wbl-font-sz-ms1);padding: 12px}
    .recomm_wrap button {font-size: var(--wbl-font-sz-ms1);padding: 12px}
    .condition_result_wrap .container {padding: 0}
    /* .condition_result_wrap .btn_slider .swiper-button-prev2 {left: -25px}
    .condition_result_wrap .btn_slider .swiper-button-next2 {right: -25px} */
    .condition_result{height:710px;}
    .condition_result .swiper-slide{height:345px;}
    
.quick_menu_wrap {padding:30px 0;margin: 30px 0}    
    .quick_menu_wrap .container > a span {width: 80px;height: 80px;margin-bottom: 5px}
    .quick_menu_wrap .container > a:nth-child(1) span i {background-size: 35px}
    .quick_menu_wrap .container > a:nth-child(2) span i {background-size: 35px}
    .quick_menu_wrap .container > a:nth-child(3) span i {background-size: 35px}
    .quick_menu_wrap .container > a:nth-child(4) span i {background-size: 90px}
    .quick_menu_wrap .container > a:nth-child(5) span i {background-size: 36px}
    .quick_menu_wrap .container > a:nth-child(6) span i {background-size: 35px}
    .quick_menu_wrap .container > a:nth-child(7) span i {background-size: 35px}
    .quick_menu_wrap .container > a:nth-child(8) span i {background-size: 35px}
    
    .recomm_wrap {margin: 30px 0}
    /* .new_wbl .new_cont > div {width: 100%;} */
    .new_wbl .new_cont > div{height:100px;}
    /* .new_wbl .new_cont > div:nth-child(2n){margin-left:0} */
    /* .new_wbl .new_cont{display:flex;flex-wrap:wrap;justify-content:space-between;margin-top:10px;} */
    .new_wbl .new_cont .thumb{width:125px;height:100px;}
    .new_wbl .new_cont .cont{width:calc(100% - 143px);}
    
    .notice_wrap{margin-top:25px;}
    .notice_wrap .title{margin-bottom: 20px}
    .notice_wrap .article {float: none;width: 100%;}
    
    .together_wrap ul li {width: calc(33.333% - 15px);margin-right: 20px}
    .together_wrap ul li:nth-child(4n) {margin-right:20px}
    .together_wrap ul li:nth-child(3n) {margin-right:0}
    .together_wrap ul li + li {margin-left: 0}

}

@media screen and (max-width:640px) {
    .bnr_main_wrap {width: 100%}
    .bnr_container#content {padding-top: 0}
    .bnr_main_wrap .page_function {position: absolute;bottom: 30px;}
    .bnr_main_wrap .swiper-pagination {background: #fff;}
    .bnr_main_wrap .page_function .autoplay{z-index: 999;background: #fff}
    .bnr_main_wrap .swiper-pagination span{font-size: 11px}
    .bnr_main_wrap .page_function .autoplay i {background-size: 10px;height: 7px}
    /* .bnr_main_wrap .btn_slider div {display: none} */
    .bnr_main_wrap .btn_slider .swiper-button-prev{left:8px;}
    .bnr_main_wrap .btn_slider .swiper-button-next{right:8px;}
    
    .recomm_wrap select {width: 100%;padding: 10px}
    .recomm_wrap select + select {margin-left: 0;margin-top: 10px}
    .recomm_wrap button{width: 100%;float: none;margin-top: 10px;padding: 10px}
    .recomm_wrap .condition li {margin-right: 8px}
    .recomm_wrap .condition li:last-child{margin-right: 0}
    .recomm_wrap .condition li + li{margin-left: 0}
    
    .condition_result .swiper-slide .category {margin: 20px 20px 10px}
    /* .condition_result_wrap {width: 85%} */
    .condition_result {height: 568px;}
    .condition_result .swiper-slide .thumb {height: 150px;}
    .condition_result .swiper-slide {height:275px}
    .condition_result_wrap .btn_slider .swiper-button-prev2 {left:5px}
    .condition_result_wrap .btn_slider .swiper-button-next2 {right:5px}
    .quick_menu_wrap {padding: 30px 0 30px}    
    .quick_menu_wrap a {width: 50%}
    .quick_menu_wrap .container > a span {width: 60px;height: 60px;margin-bottom: 5px}
    .quick_menu_wrap .container > a:hover span {border: 2px solid #ffff}
    .quick_menu_wrap .container > a:nth-child(4) span {width: 60px;height: 60px;margin-top: 13px}
    .quick_menu_wrap .container > a:nth-child(1) span i {background-size: 30px}
    .quick_menu_wrap .container > a:nth-child(2) span i {background-size: 30px}
    .quick_menu_wrap .container > a:nth-child(3) span i {background-size: 30px}
    .quick_menu_wrap .container > a:nth-child(4) span i {background-size: 60px}
    .quick_menu_wrap .container > a:nth-child(5) span i {background-size: 30px}
    .quick_menu_wrap .container > a:nth-child(6) span i {background-size: 30px}
    .quick_menu_wrap .container > a:nth-child(7) span i {background-size: 30px}
    .quick_menu_wrap .container > a:nth-child(8) span i {background-size: 30px}
    
    
    #content .new_wbl h2{float: none;margin: 0 0 0px}
    .news_wrap {padding: 30px 0}
    .new_wbl ul {margin-bottom: 20px;float: none;}
    .new_wbl .new_cont > div {width:100%;height: 90px}
    .new_wbl .new_cont > div:nth-child(2n){margin-left:0;}
    .new_wbl .new_cont .thumb {width: 100px;height: 90px;}
    .new_wbl .new_cont .cont .category{margin-top: 0}
    .new_wbl .new_cont .cont{width: calc(100% - 143px)}
    .new_wbl ul li + li:before {margin-left: 3px;padding-left: 3px;display: block;float: left;}
    .notice_wrap {padding: 15px 20px;margin-top: 0;}
    
    
    .together_wrap {margin: 30px auto}    
.theme_wrap {display: block;float: none;margin-bottom: 30px;width: 100%}
    .theme_wrap img{width: 100%}    
    
     .together_wrap ul li {width: calc(50% - 10px);margin-right: 10px}
    .together_wrap ul li:nth-child(4n) {margin-right:10px}
    .together_wrap ul li:nth-child(3n) {margin-right:10px}
    .together_wrap ul li:nth-child(2n) {margin-right:0}
    .together_wrap ul li + li {margin-left: 0}
    .together_wrap ul li:nth-child(9),
    .together_wrap ul li:nth-child(10){margin-bottom: 0}
    
   
    
    
}